.tabWrapper {
  display: flex;
  position: relative;
  gap: 24px; /* 탭 사이 간격 */
  padding-bottom: 4px;
  margin-bottom : 20px;
}

.tabItem {
  font-size: 16px;
  padding : 10px;
  color: #888;
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
  white-space: nowrap;
}

.tabItem:hover {
  color: #000;
}

.active {
  color: #000;
  font-weight: 600;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
}
