/* 전역 스타일 설정 */

* {
  margin: 0; /* 요소 바깥 여백 제거 */
  padding: 0; /* 요소 안쪽 여백 제거 */
  box-sizing: border-box; /* width/height 계산 시 padding, border 포함해서 계산 */
}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-family: "Asta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}