.expoInfoBox {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.expoImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  margin-left : 4px;
}

.expoName {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
