.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 스피너가 표시될 위치를 조정합니다. */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f; /* 스피너의 한쪽 색상을 다르게 설정하여 회전 효과를 줍니다. */
  animation: spin 1s linear infinite; /* 애니메이션 이름, 지속 시간, 속도, 반복 횟수 */
  margin-bottom: 8px; /* 텍스트와의 간격 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}