/* --- Layout Container --- */
.operatorContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
  width: 1200px;
}

/* --- Section --- */
.section {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.divider {
  height: 1px;
  background-color: #ddd;
  width: 100%;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.backArrow {
  font-size: 1.4rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-bottom: 7px;
}

.backArrow:hover {
  color: #999;
}

.statusBadge {
  margin-left: 6px;
  margin-bottom: 5px;
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}

/* 임의 색상 */
.취소_대기 {
  background-color: #fff5ec;
  /* 연한 주황 */
  color: #e79d3c;
  /* 진한 주황 */
}

.게시중 {
  background-color: #ebf9f1;
  /* 연한 초록 */
  color: #2a9c68;
  /* 진한 초록 */
}

.게시_대기 {
  background-color: #fff5ec;
  /* 연한 주황 */
  color: #e79d3c;
  /* 진한 주황 */
}

.취소됨 {
  background-color: #ffecec;
  /* 연한 빨강 */
  color: #e74c3c;
  /* 진한 빨강 */
}

.게시_종료 {
  background-color: #f2f2f2; /* 연한 회색 */
  color: #555;               /* 진한 회색 */
}

.buttonGroup {
  display: flex;
  gap: 12px;
}

.rejectBtn {
  padding: 10px 81px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rejectBtn:hover {
  background-color: #f9f9f9;
  border-color: #999;
}

.approveBtn {
  padding: 10px 81px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  background-color: #1e2a38;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.approveBtn:hover {
  background-color: #17212c;
}