.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  text-align: left;
}

.signUpForm label {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.signUpForm input {
  width: 100%;
  height: 42px;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.rowInput {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 입력창 */
.rowInput input {
  flex: 1;
  padding: 0 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  outline: none;
  line-height: 1;
}

/* 버튼 */
.grayButton {
  width: 85px; /* 너비는 필요에 따라 조절 */
  margin-top: 6px;
  height: 42px;
  padding: 0 16px;
  background-color: #999;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.activeButton {
  width: 85px; /* 너비는 필요에 따라 조절 */
  margin-top: 6px;
  height: 42px;
  padding: 0 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.submitButton {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.loginLink {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.loginLink a {
  color: #666;
  text-decoration: none;
}